.rating {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

::deep .blade-rating > svg:nth-child(3n) {
	margin-right: 10px;
}

::deep .blade-rating {
	display: inline-flex;
}

::deep .blade-rating > svg {
	margin-left: -4px;
}