@using static UI.Constants;
@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div>
	<FluentMainLayout NavMenuTitle="Navigation Menu">
		<Header>
			<h1 class="ml-3">Blades in the Sheets</h1>
			<img src="icon-192.png" Alt="Icon of a blade piercing a character sheet" class="layout-header-icon" />
		</Header>
		<Body>
			@Body
		</Body>
		<NavMenuContent>
			<FluentNavLink Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.Home())" Href="/" Text="Home">Home</FluentNavLink>
			<FluentNavLink Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size20.DrinkCoffee())" Href="@Paths.Tips">Tip Jar</FluentNavLink>
		</NavMenuContent>
	</FluentMainLayout>
</div>

@code
{
	@* 	private static MudTheme InitializeMudTheme()
	{
		var theme = new MudTheme();
		theme.PaletteDark.Primary = Colors.DeepOrange.Lighten2;
		theme.PaletteDark.Secondary = Colors.Red.Accent4;
		theme.PaletteDark.Tertiary = Colors.DeepPurple.Accent2;
		return theme;
	} *@
}