@page "/accessibility"
@using UI.Services
@inject IAccessibilitySettingService SettingService

<div class="vertical-stack aic mb20">
	<FluentCard Class="common-card-style">
		<div class="card-header">
			<h4>Checkboxes vs. Sliders</h4>
		</div>
		<div class="vertical-stack card-body">
			<div>
				<p>Action dots and experience trackers on the character sheet pages are implemented with a row of checkboxes by default. This makes linguistic sense because the language used is frequently to "mark a point" of something.</p>
				<p>However, some users may find a slider component easier to use with keyboard navigation and less repetitive while using screen readers.</p>
			</div>
			<FluentSwitch Label="Desired Component" Value="UseSlider" ValueChanged="RatingSwitchValueChanged">
				<span slot="checked-message">Slider</span>
				<span slot="unchecked-message">Checkboxes</span>
			</FluentSwitch>
			<div style="max-width: 165px;">
				<BladeRating MaxValue="6" CheckboxAriaLabelSuffix="Testable" Value="RatingSwitchValue" />
			</div>
		</div>
	</FluentCard>
	<FluentCard Class="common-card-style">
		<div class="card-header">
			<h4>Visual description guide</h4>
		</div>
		<div class="vertical-stack card-body">
			<div>
				<p>Each web page is comprised of a column of visual "cards". The character sheet page is two columns of cards on large screens. Each card has a level 4 heading. Subheadings within those cards are at level 5.</p>
				<p>The home page will list your characters on cards after you create them and the links on them will take you to their character sheet page.</p>
				<p>The web app will guide you to create characters by choosing the game, selecting a game mode, and then going through the character creation steps. When you're done, you'll be taken to the character sheet page.</p>
				<p>The character sheets are opinionated and will try to guide you to modify the character sheet according to the rules of the game when possible. For example, trauma selection is only enabled when stress is maxed, and the add trauma button is only enabled when a trauma is selected.</p>
				<p>Some cards have Fix Modes or Hide Modes, especially on the character sheet page. Hide modes will reduce a card to just its header and a button to show the card again. Fix modes will enable alternate behavior for the card, usually to fix something or edit the character sheet in a way that ignores the game's rules. For example, your contacts do not change much by the rules of the game, but by enabling the Fix Mode, you can add new contacts, delete existing contacts, upgrade them to close friends, or downgrade them to rivals. You can even change your heritage in the dossier card through Fix Mode.</p>
				<p>The final home page card has an Export Mode and a Delete Mode. These toggle buttons will enable you to go back over your characters and choose to export them or delete them.</p>
				<p>Lastly, I am a sighted software engineer, and I do all of my screen reader testing with NVDA on Firefox and Edge. If you are encountering an accessibility issue, please reach out to me on Github, the Blades in the Dark Discord server, or at <a href="mailto:arazni+blades@proton.me">arazni+blades@proton.me</a>.</p>
			</div>
		</div>
	</FluentCard>
</div>
