@page "/new/{GameName}/{PlaybookName}"
@using Models.Characters
@using Models.Settings;
@using Persistence.Json;
@using UI.Components
@using UI.Components.NewCharacter
@using UI.Services
@using UI.ViewModels
@using static UI.Constants;
@inject IStorageService Storage
@inject ICharacterCoordinator Coordinator
@inject NavigationManager Navigator
@inject ILoader Loader

<div class="vertical-stack aic">
	<NewCharacterHeritageCard HeritageSettings="GameSetting.Heritages" Heritage="Character.Dossier.Heritage" />
	<NewCharacterBackgroundCard BackgroundSettings="GameSetting.Backgrounds" Background="Character.Dossier.Background" />
	<NewCharacterActionDotsCard GameSetting="GameSetting" Character="Character" />
	<NewCharacterSpecialAbilityCard GameSetting="GameSetting" Character="Character" />
	<NewCharacterFriendsCard RolodexSetting="PlaybookSetting.Rolodex" Rolodex="RolodexCreation" PlaybookName="Character.Playbook.Name" />
	<NewCharacterViceCard ViceSettings="GameSetting.Vices" Vice="Character.Dossier.Vice" />
	<NewCharacterIdentificationCard Dossier="Character.Dossier" />
	<div class="common-card-style">
		<FluentButton Class="w100" Appearance="Appearance.Accent" Type="ButtonType.Submit" Color="Color.Primary" OnClick="SaveAsync">
			Finish Your @PlaybookName
		</FluentButton>
	</div>
</div>
