@page "/sheets/{Id}"
@using Models.Characters
@using Models.Settings;
@using Persistence.Json;
@using UI.Components
@using UI.Components.CharacterSheet
@using UI.Services
@inject IStorageService Storage
@inject ILoader Loader
@inject IToastService Toaster

<FluentGrid Justify="JustifyContent.Center">
	<FluentGridItem xs="12" lg="6">
		<div class="vertical-stack aic">
 			<SheetDossierCard Dossier="Character.Dossier" AliasSynonym="@PlaybookSetting.AliasSynonym" GameSetting="GameSetting" />
			<SheetMonitorCard GameSetting="GameSetting" Character="Character" />
			<SheetTalentCard Talent="Character.Talent" />
			<SheetAbilitiesCard GameSetting="GameSetting" Character="Character" />
		</div>
	</FluentGridItem>
	<FluentGridItem xs="12" lg="6">
		<div class="vertical-stack aic">
 			<SheetRolodexCard RolodexSetting="PlaybookSetting.Rolodex" Rolodex="Character.Rolodex" />
@*			<SheetGearCard Character="Character" BulkSynonym="@GameSetting.Thesaurus.Bulk" />
			<SheetFundCard Fund="Character.Fund" CoinSynonym="@GameSetting.Thesaurus.Coin" /> *@
			@* <SheetNotebookCard GameSetting="GameSetting" Character="Character" />  *@
		</div>
	</FluentGridItem>
	<FluentButton IconStart="@SaveIcon" OnClick="Save" Style="position: fixed; right: 20px; bottom: 20px;" Title="Save Character" />
</FluentGrid>
