@page "/help"

<div class="vertical-stack aic mb20">
	<FluentCard Class="common-card-style">
		<div class="card-header">
			<h4>About</h4>
		</div>
		<div class="vertical-stack card-body">
			<div>
				<p>Blades in the Sheets is a web app for managing your Blades in the Dark and Scum &amp; Villainy characters from your phone, tablet, or PC.</p>
				<p>Once created, character "sheets" on the app are a dynamic and responsive web page designed to follow the rules of the game, but also capable of entering edit mode to fix mistakes that may have been made and do things beyond the normal rules. Having all your character sheets available within a single application, and having that character sheet assist in following rules, is the major draw here. You can mess around on the demo page and see if you like it.</p>
				<p>The create a character workflow will guide a player through the whole character creation process and ultimately create a character page for use within the app.</p>
				<p>There is also import and export functionality to backup your characters, share them with friends, or port them between devices or browsers. When you export, it'll give you a json file. Give this file when using the import button on the home page. If you re-import a character that you've already imported, it will overwrite that character.</p>
				<p>There is French support of game text, but not of web app text. This translation was provided by a redditor.</p>
			</div>
		</div>
	</FluentCard>
	<FluentCard Class="common-card-style">
		<div class="card-header">
			<h4>Troubleshooting</h4>
		</div>
		<div class="vertical-stack card-body">
			<div>
				<p>Auto-save is not yet implemented. There is a save button that floats at the bottom right of the character sheet. Please remember to save and remind each other to save at the end of every game session! On keyboard, CTRL+S will save as well.</p>
				<p>If you're aware of an update and want to update, visit the site. Then, close the web app on <strong>all</strong> tabs. Wait a few seconds and visit the web app again; it should be updated now.</p>
				<p>Please use the web app from within a regular browser like Chrome, Edge, or Firefox. If you're using your phone and you use this web app or install it from a browser within an app like Messenger or Reddit, some save/load behaviors may behave incorrectly.</p>
				<p>Persistence is handled through the browser's local storage. Please export your character sheets if you want to switch browsers or clear your browser's local storage files, which some automated PC storage tools do.</p>
				<p>There is no way to meaningfully print a character sheet created in the app for use in pen and paper, but the app itself does not require internet access once installed.</p>
				<p>If you are interested in helping to support another Forged in the Dark game or translating a supported Forged in the Dark game, know the differences between your game and Blades in the Dark, and are capable of generating json files out of data entry, feel free to <a href="https://github.com/arazni/blades-in-the-sheets/issues">reach out on Github</a> or <a href="https://discord.gg/uXwCKq3">the Blades in the Dark Discord server</a> in <a href="https://discord.com/channels/325094888133885952/1096796743363997767">my Blades in the Sheets forum thread</a>. <a href="https://github.com/arazni/blades-in-the-sheets/tree/main/UI/wwwroot/data">You can see these game files here.</a></p>
			</div>
		</div>
	</FluentCard>
</div>