@page "/new/{GameFileStem?}"
@using Microsoft.FluentUI.AspNetCore.Components
@using Models.Characters
@using Models.Settings
@using Persistence.Json
@using UI.Components
@using UI.Components.NewCharacter
@inject ILoader Loader

<div class="vertical-stack aic">
	<h2>@GameName</h2>
	<h3>Choose a playbook.</h3>
	@foreach (var (book, hook) in options)
	{
		<NewCharacterPlaybookOption GameFileStem="@GameFileStem" PlaybookName="@book" Hook="@hook" />
	}
</div>