@using Models.Characters
@using System.Diagnostics.CodeAnalysis
@using Models.Settings;
@using UI.Services
@inject SheetJank SheetJank

<div class="horizontal-stack">
	@if (IsFixMode)
	{
		<BladeRating @bind-Value="FixModeRating" MaxValue="Action.MaxRating" CheckboxAriaLabelSuffix="@RatingLabel" />
		<p class="margin-vertical-center">@ActionName</p>
	}
	else
	{
		if (CanLevelUp)
		{
			<FluentButton Title="@LevelUpTitle" Appearance="Appearance.Accent" Disabled="Action.HasMaxRating" IconStart="new Icons.Filled.Size20.Add()" OnClick="LevelUp" Color="Color.Primary" />
		}
		<p class="margin-vertical-center">@Text</p>
	}
</div>
