@using Models.Characters
@using Models.Settings
@using UI.Conveniences

<SheetCard @bind-IsFixMode="IsFixMode" Header="Dossier">
	<div class="wrap-row">
		<div class="fg1">
			<FluentTextField  @bind-Value="Dossier.Name" Id="dossier-name" Label="Name" />
		</div>
		<div class="fg1">
			<FluentTextField @bind-Value="Dossier.Alias" Id="dossier-alias" Label="@AliasSynonym" />
		</div>
	</div>
	<div>
		<FluentTextArea @bind-Value="Dossier.Background.Description" Id="dossier-background-description" Label="@BackgroundLabel" Resize="TextAreaResize.Vertical" Rows="3" Class="w100" />
	</div>
	<div>
		<FluentTextArea @bind-Value="Dossier.Heritage.Description" Id="dossier-heritage-description" Label="@HeritageLabel" Resize="TextAreaResize.Vertical" Rows="3" Class="w100" />
	</div>
	<div>
		<FluentTextArea @bind-Value="Dossier.Vice.Description" Id="dossier-vice-description" Label="@ViceLabel" Resize="TextAreaResize.Vertical" Rows="3" Class="w100" />
	</div>
	<div>
		<FluentTextArea @bind-Value="Dossier.Look" Id="dossier-look" Label="Look" Resize="TextAreaResize.Vertical" Rows="3" Class="w100" />
	</div>
	@if (IsFixMode)
	{
		<FluentSelect TOption="BackgroundSetting" Items="GameSetting.Backgrounds" @bind-Value="Dossier.Background.Name" OptionValue="i => i.Name" OptionText="i => i.Name" Label="Background" Id="select-background" />
		<FluentSelect TOption="HeritageSetting" Items="GameSetting.Heritages" @bind-Value="Dossier.Heritage.Name" OptionValue="i => i.Name" OptionText="i => i.Name" Label="Heritage" Id="select-heritage" />
		<FluentSelect TOption="ViceSetting" Items="GameSetting.Vices" @bind-Value="Dossier.Vice.Name" OptionValue="i => i.Name" OptionText="i => i.Name" Label="Vice" Id="select-vice" />
	}
</SheetCard>
