@using Models.Characters
@using Models.Common
@using UI.Services
@inject SheetJank SheetJank

@if (!Harm.HasHarmAtIntensity(Intensity))
	return;

<div class="horizontal-stack">
	<p>@PrefixText:</p>
	@if (IsFixMode)
	{
		@foreach (var description in HarmDescriptions)
		{
			<FluentButton IconStart="new Icons.Filled.Size20.Delete()" Appearance="Appearance.Accent" OnClick="_ => RemoveHarm(description)" Title="@AriaLabel(description)" BackgroundColor="var(--scare-color)">@description</FluentButton>
		}
	}
	else
	{
		<p>@HarmDescriptions.Join("; ")</p>
	}
</div>
