@using Models.Characters;
@using Models.Settings;
@using UI.Conveniences;

<SheetCard HasFixMode="false" Header="Reminders">
	<div>
		<p>Every time you roll a desperate action, mark xp in that action's attribute.</p>
		<p>At the end of each session, for each item below, mark 1 xp (in your playbook or an attribute) or 2 xp if that item occurred multiple times.</p>
	</div>
	<div class="horizontal-stack aic">
		<BladeRating @bind-Value="Character.Session.PlaybookExpressions" MaxValue="Session.MaxExpressions" CheckboxAriaLabelSuffix="Playbook roleplay experience earned" />
		<label>@PlaybookExperienceCondition.</label>
	</div>
	<div class="horizontal-stack aic">
		<BladeRating @bind-Value="Character.Session.CharacterExpressions" MaxValue="Session.MaxExpressions" CheckboxAriaLabelSuffix="Character roleplay experience earned" />
		<label>You expressed your beliefs, drives, heritage, or background.</label>
	</div>
	<div class="horizontal-stack aic">
		<BladeRating @bind-Value="Character.Session.StruggleExpressions" MaxValue="Session.MaxExpressions" CheckboxAriaLabelSuffix="Struggle roleplay experience earned" />
		<label>You struggled with issues from your vice or traumas during the session.</label>
	</div>
	<FluentTextArea Label="Notes" @bind-Value="Character.Notebook" Rows="10" Id="notebook-notes" />
</SheetCard>
