@using Models.Characters
@using UI.Services
@inject SheetJank SheetJank
@implements IDisposable

<div class="wrap-row jsb">
	<FluentCheckbox Value="Character.IsStandardArmorUsed" Disabled="!Character.HasArmor" Label="Armor" ValueChanged="StandardArmorChecked" />
	<FluentCheckbox Value="Character.IsHeavyArmorUsed" Disabled="!Character.HasHeavyArmor" Label="Heavy Armor" ValueChanged="HeavyArmorChecked" />
	@if (Character.HasSpecialArmor)
	{
		<FluentCheckbox Value="Character.IsSpecialArmorUsed" Label="Special Armor" ValueChanged="SpecialArmorChecked" />
	}
</div>