@using Models.Characters
@using Models.Common
@using Models.Settings;
@using UI.Services;
@inject SheetJank SheetJank;
@* @implements IDisposable; *@
@using static Constants.Classes;

<SheetCard @bind-IsFixMode="IsFixMode" Header="Health">
	<div class="vertical-stack">
		<SheetMonitorTrauma IsFixMode="IsFixMode" Monitor="Monitor" TraumaOptions="GameSetting.Traumas" />
		<SheetMonitorHarm IsFixMode="IsFixMode" Harm="Monitor.Harm" />
		<SheetMonitorArmor Character="Character" />
		<SheetMonitorRecovery IsFixMode="IsFixMode" Monitor="Monitor" />
	</div>
</SheetCard>