@using Models.Characters
@using Models.Common
@using UI.Services
@inject SheetJank SheetJank
@implements IDisposable

<div class="vertical-stack">
	<h5>Harm</h5>
	<FluentTextField @bind-Value="HarmDescription" Placeholder="@HarmPlaceholder" AriaLabel="Describe harm" />
	<div class="horizontal-stack jsb">
		<FluentSelect TOption="HarmIntensity" Items="Harm.AvailableIntensities" @bind-SelectedOption="Intensity" AriaLabel="Harm intensity" OptionText="@(i => $"Level {(int)i} {i}")" />
		<FluentButton IconStart="new Icons.Filled.Size20.Add()" Appearance="Appearance.Accent" Disabled="!CanAddHarm" OnClick="AddHarm" Class="min-button" Title="Add harm">Harm</FluentButton>
	</div>
	<SheetExistingHarm IsFixMode="IsFixMode" Harm="Harm" Intensity="HarmIntensity.Fatal" />
	<SheetExistingHarm IsFixMode="IsFixMode" Harm="Harm" Intensity="HarmIntensity.Severe" />
	<SheetExistingHarm IsFixMode="IsFixMode" Harm="Harm" Intensity="HarmIntensity.Moderate" />
	<SheetExistingHarm IsFixMode="IsFixMode" Harm="Harm" Intensity="HarmIntensity.Lesser" />
</div>