@using Models.Characters
@using Models.Common
@using Models.Settings

<FluentCard AreaRestricted="false" Class="common-card-style">
	<div class="card-header">
		<h4>Choose a close friend and a rival from among your contacts</h4>
	</div>
	<div class="vertical-stack">
		<FluentSelect Label="Close Friend" Items="AvailableFriendOptions" TOption="Option<RolodexFriend>" OptionDisabled="i => i.Value?.Closeness == FriendCloseness.Rival" OptionSelected="i => i.Value == null" OptionText="i => i.Value?.Entry ?? string.Empty" SelectedOptionChanged="OnCloseFriendChanged" Id="select-close-friend" />
		<FluentSelect Label="Rival" Items="AvailableFriendOptions" TOption="Option<RolodexFriend>" OptionDisabled="i => i.Value?.Closeness == FriendCloseness.CloseFriend" OptionSelected="i => i.Value == null" OptionText="i => i.Value?.Entry ?? string.Empty" SelectedOptionChanged="OnRivalChanged" Id="select-rival" />
		<p>Other friends:</p>
		@foreach (var friend in RemainingFriends)
		{
			<p>@friend.Entry</p>
		}
	</div>
</FluentCard>
