@using Models.Characters

<FluentCard Class="common-card-style">
	<div class="card-header">
		<h3>Finalize your identity</h3>
	</div>
	<div class="vertical-stack card-body">
		<div>
			<FluentTextField @bind-Value="Dossier.Name" Label="Name" Placeholder="Noggs Kessarin" Id="dossier-name" Class="w100" />
		</div>
		<div>
			<FluentTextField @bind-Value="Dossier.Alias" Label="Alias" Placeholder="Thistle" Id="dossier-alias" Class="w100" />
		</div>
		<div>
			<FluentTextField @bind-Value="Dossier.Look" Label="Look" Placeholder="Ambiguously gendered, brooding, and weathered, in a signature heavy jacket and work boots" Id="dossier-look" Class="w100" />
		</div>
	</div>
</FluentCard>
