@using Models.Characters

<FluentCard Class="common-card-style">
	<div class="card-header">
		<h3>Finalize your identity</h3>
	</div>
	<div class="vertical-stack">
		<FluentTextField @bind-Value="Dossier.Name" Label="Name" Placeholder="Noggs Kessarin" id="dossier-name" />
		<FluentTextField @bind-Value="Dossier.Alias" Label="Alias" Placeholder="Thistle" id="dossier-alias" />
		<FluentTextField @bind-Value="Dossier.Look" Label="Look" Placeholder="Ambiguously gendered, brooding, and weathered, in a signature heavy jacket and work boots" id="dossier-look" />
	</div>
</FluentCard>
