name: Deploy to GH Pages
on:
  push:
    branches: [main]
jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: setup-sdk
      uses: actions/setup-dotnet@v3.0.3
      with: 
        dotnet-version: 9.0.x
        
    - name: install-tools
      run: dotnet workload install wasm-tools-net9
        
    - name: publish-project
      run: dotnet publish "UI/UI.csproj" -c Release -o release -p:GHPages=true
      
    - name: deploy-site
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: release/wwwroot
